// need to do 100% height so background image will fill it. might need to change later
html, body {
    height: 100%;
}

// this is the background
.landing {
    height: 100%;
    $landing-color: white;

    background: url(/images/splash4.jpg) no-repeat center center fixed;
    background-size: cover;

    // container for content
    .landing-inner {
        // outer-container sets a max-width
        @include outer-container;
        padding: 1rem 3rem 3rem 3rem;
        text-align: center;
        color: $landing-color;

        .landing-top {
            @include row();

            .logo {
                font-weight: 900;
                font-size: 1.2em;
                float: left;

                @include media($large-screen) {
                    font-size: 1.5em;
                }
            }

            button {
                font-size: $base-font-size;
                float: right;

                @include media($large-screen) {
                    font-size: 1.2em;
                }
            }
        }

        .landing-middle {
            margin-top: 2rem;
            text-shadow: .04em .04em .04em rgba(0, 0, 0, 1);

            h1 {
                margin: 2.9rem 0 2.9rem 0;
                font-weight: 700;
                font-size: 2.3em;

                @include media($large-screen) {
                    font-size: 5.2em;
                }
            }

            p {
                font-weight: 400;
                font-size: 1.1em;

                @include media($large-screen) {
                    font-size: 1.8em;
                }
            }
        }

        button {
            width: 100%;
            @include media($medium-screen) {
                display: inline-block;
                width: auto;
                vertical-align: middle;
                margin: 1rem;
                font-size: 1.2em;
            }
        }
    }
}

