<template name="Landing">
<div class="landing jumbotron">
  <div class="landing-inner">
    <div class="landing-top row">
      {{> Logo }}
      <a href="/sign-in" role="button" class="btn btn-lg pull-right">Sign In</a>
    </div>
    <div class="landing-middle">
      <h1>More sports, less sugar.</h1>
      <p>Tired of the same old fantasy sports? So are we.</p>
      <p>Low Fructose does sports right, and we think you'll agree.</p>
    </div>
    <a href="/sign-up" role="button" class="btn btn-primary btn-lg">Sign up for Free</a>
  </div>
</div>
</template>
