<template name="Landing">
  <div class="landing">
    <div class="landing-inner">
      <div class="landing-top">
        {{> Logo }}
        <button>Sign In</button>
      </div>
      <div class="landing-middle">
        <h1>More sports, less sugar.</h1>
        <p>Tired of the same old fantasy sports? So are we.</p>
        <p>Low Fructose does sports right, and we think you'll agree.</p>
      </div>
      <button id="registerButton" type="button" class="btn btn-primary btn-lg">Sign up for Free</button>
    </div>
  </div>
</template>
