// font
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

/* Get that nice border-box display--just makes more sense */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.6rem;
    font-size: 8px; font-size: 0.8rem;
}

#side-bar {
    width: 15rem;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48rem) {

    /* Increase the body font size */
    body {
        font-size: 10px; font-size: 1rem;
    }
}
