// font
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    font-size: 13px;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* Increase the body font size */
    body {
        font-size: 16px;
    }
}
