// color scheme
$primary_color_1: #455ede;
$primary_color_2: #afbfff;
$primary_color_3: #2a36b1;
$secondary_color_1: #ff7043;
$secondary_color_2: #ffccbc;
$secondary_color_3: #f4511e;

/* switching box model for all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* soft reset */
html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-left: 2em;
}

ul.unstyled {
  list-style: none;
}

img {
  height: auto;
  vertical-align: middle;
  border: 0;
}

audio,
canvas,
video {
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}

// font
html, body, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#top-bar {
    background-color: $primary_color_1;
    color: white;
}


#side-bar {
    width: 15em;
}

html {
  background: url(images/splash4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2.logo.pure-u-1-2 {
    color: white;
    font-weight: 900;
}

.catchphrase {
    color: white;
    font-size: 5.5em;
    text-align: center;
    text-shadow: .03em .03em .03em rgba(0, 0, 0, 1);
}

.tagline {
    color: white;
    font-size: 1.8em;
    text-align: center;
    margin: 0.5em;
    text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 1);
}

.signin-button {
    text-align: right;
    color: white;
    padding: 1.3em 0;
}

.pure-form.register-form {
    text-align: center;
    font-size: 1.3em;
}
.pure-form.register-form > fieldset > input,
.pure-form.register-form > fieldset > button {
    margin: 0.5em;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
